<h1><%= @genre.name %></h1>

<% if @genre.books.count == 0 %>
  <h2>Sorry, this genre has no books yet.</h2>
<% else %>
  <div>
    <% @genre.books.each do |book| %>
        <%= render book %>
    <% end %>
  </div>
<% end %>