<h1 class="title is-4">Books</h1>

<% if @books.count == 0 %>
  <h2>Sorry, no books here yet.</h2>
<% else %>
  <div class="columns is-multiline">
    <%= render @books %>
  </div>
<% end %>
<%= pagy_nav(@pagy).html_safe %>